<footer>
    <ul class="links">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/blog">Blog</a>
        </li>
        <li>
            <a href="/reading-logs">Reading Logs</a>
        </li>
        <li>
            <a href="/photoblog">Photo Blog</a>
        </li>
        <li>
            <a href="/photography">Photography</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/work">Work</a>
        </li>
        <li>
            <a href="/uses">Uses</a>
        </li>
        <li>
            <a href="/search">Search</a>
        </li>
        <li>
            <a href="/bookshelf">Bookshelf</a>
        </li>
        <li>
            <a href="/now">Now</a>
        </li>
        <li>
            <a href="/movies">Movies</a>
        </li>
        <li>
            <a href="/likes">Likes</a>
        </li>
        <li>
            <a href="/listening">Podcasts</a>
        </li>
        <li>
            <a href="/tv">TV</a>
        </li>
        <li>
            <a href="/video-games">Video Games</a>
        </li>
        <li>
            <a href="/progress/2023">2023 Goals Progress</a>
        </li>
    </ul>
    <ul class="links">
        <li>
            <a href="https://www.github.com/kpwags">GitHub</a>
        </li>
        <li>
            <a rel="me" href="https://hachyderm.io/@kpwags">Mastodon</a>
        </li>
        <li>
            <a href="/feed.xml">RSS</a>
        </li>
    </ul>
    <div class="copyright">&copy; Keith Wagner {new Date().getFullYear()}</div>
</footer>

<style>
    footer {
        margin: 4rem 0 2rem 0;
        text-align: center;
    }

    ul.links {
        margin: 1rem 10rem;
    }

    ul.links li {
        list-style-type: none;
        display: inline-block;
        padding: 0.25rem 1rem;
    }

    .copyright {
        padding-bottom: 2rem;
        font-style: italic;
    }
</style>
