<div class="bar" id="site-rss-links" style="display: none">
    <strong>RSS Feeds:</strong>
    <a href="/rss/feed.xml">All Posts</a>
    <a href="/rss/blogposts_feed.xml">Blog Posts</a>
    <a href="/rss/readinglogs_feed.xml">Reading Logs</a>
</div>

<style>
    .bar {
        display: flex;
        margin: 12px 0;
        gap: 2rem;
        justify-content: center;
        padding: 0 1rem;
    }
</style>
